*,
*::after,
*::before{
    margin: 0;
    padding: 0;
    box-sizing: inherit;
}

html{
    overflow-x:hidden;
    font-size: 62.5%;
}

body{
    box-sizing: border-box;
}

.icon-left{
    position: absolute;
    top: 4rem;
    left: 4rem;
   

}

.icon-right{
     position: absolute;
     bottom: 4rem;
     right: 4rem;
   

}

.seasonDisplay.winter i{
 color: #0052d4;
}


.seasonDisplay.sumer i{
   
    color: #ed213a; 

}

.seasonDisplay{
    display: flex;
    justify-content:  center;
    align-items: center;
    height:  100vh;
    font-size: 1.4rem;

  
}

.winter{
    background-image: linear-gradient(to bottom, #9cecfb, #65c7f7, #0052d4);
    

}

.sumer{
    background: linear-gradient(to right, #ff512f, #f09819); 

}

.element.style {
   
    font-size: 5rem;

}


.seasonDisplay.winter h1{
    text-transform: uppercase;    
    background: linear-gradient(to top, #1e3c72, #2a5298); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    -webkit-background-clip: text;
    color: transparent;
    font-size: 3rem;

    
    animation-name: moveInLeft;
    /*La duración de la nimación*/
    animation-duration: 1s;
    /*animation: moveInLeft 1s ease-out ;*/
    /*Tipo de animación más lento o rapido*/
    animation-timing-function: ease-out;
 

   }
   .seasonDisplay.sumer h1{
    text-transform: uppercase;
    background: linear-gradient(to top, #c31432, #240b36); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    -webkit-background-clip: text;
    color: transparent;
    letter-spacing: .2rem; 
    font-size: 3rem;

    animation-name: moveInLeft;
    /*La duración de la nimación*/
    animation-duration: 2s;
    /*animation: moveInLeft 1s ease-out ;*/
    /*Tipo de animación más lento o rapido*/
    animation-timing-function: ease-out;
}


.ui{
    height:100vh;
}

.border{
    border: 1px solid red;
}



/*Animación de header empieza de la izquirda*/
@keyframes moveInLeft {
    /*Comienza en cero*/
    0%{
       /*opacidad del texto*/
       opacity: 0;
       transform: translateX(-10rem);

    }
  
    /*La animación sucede*/
    80% {  
         
        transform: translateX(1rem) ;
    }  

    /*Termina la animación*/
    100%{
       opacity: 1;
       /*Animar en la direción x*/
       transform: translate(0);
    }
}
